.chat-container {
  height: 100%;
  .find-contactsInfo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      line-height: 28px;
      max-width: 500px;
      text-align: center;
      font-size: 24px;
    }
  }
}
