<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
</ngx-spinner>

<div class="contact-list-container">
  <div class="search-form">
    <form action=""></form>

    <form #findForm="ngForm" (ngSubmit)="findContact(findForm)">
      <input
        type="text"
        placeholder="Search your friends by their e-mail address"
        ngModel
        name="email"
        autocomplete="off"
        required
        email
      />
      <button type="submit" mat-icon-button [disabled]="!findForm.valid">
        <mat-icon class="material-icons-outlined md-30">person_add</mat-icon>
      </button>
    </form>
  </div>
  <mat-selection-list #contacts [multiple]="false">
    <mat-list-option *ngFor="let contact of contactList" [value]="contact">
      <app-contact [childContact]="contact"> </app-contact>
    </mat-list-option>
  </mat-selection-list>
</div>
