<div class="sigin-emailpassword-container">
  <p>Zaloguj się przy użyciu adresu e-mail i hasła</p>
  <div class="form-container">
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
      <input
        type="text"
        placeholder="email"
        ngModel
        name="email"
        required
        email
      />
      <input
        type="password"
        placeholder="hasło"
        ngModel
        name="password"
        required
      />
      <button
        type="submit"
        [disabled]="!loginForm.valid"
        [ngClass]="{ disabled: !loginForm.valid }"
      >
        ZALOGUJ SIĘ
      </button>
    </form>
  </div>
  <a routerLink="create-account">Nie masz konta? Załóż je tutaj.</a>
</div>
