<div class="sigin-emailpassword-container">
  <p>Sign in with email and password</p>
  <div class="form-container">
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
      <input
        type="text"
        placeholder="email"
        ngModel
        name="email"
        required
        email
      />
      <input
        type="password"
        placeholder="hasło"
        ngModel
        name="password"
        required
      />
      <button
        type="submit"
        [disabled]="!loginForm.valid"
        [ngClass]="{ disabled: !loginForm.valid }"
      >
        SIGN IN
      </button>
    </form>
  </div>
  <a routerLink="create-account">You do not have an account? Sign up here.</a>
</div>
