@import "../../../variables";

.sigin-emailpassword-container,
.create-account-container {
  color: $text-light;
  p {
    font-size: $font-size-h2;
    margin-bottom: 40px;
  }
  .form-container {
    input {
      display: flex;
      width: 90%;
      max-width: 400px;
      padding: 13px;
      margin: 20px auto;
      font-size: $base-font-size;
      background-color: $grey-light;
      border-radius: $border-radius;
      color: $text-dark;
      border: none;
    }
    button {
      width: 100%;
      max-width: 250px;
      height: 50px;
      margin-bottom: 10px;
      font-size: $base-font-size;
      background-color: $gray-primary;
      border-radius: $border-radius;
      color: $text-light;
      border: none;
    }
  }
  a {
    text-decoration: none;
    color: $text-light;
  }
}
