@import "../../variables";

.auth-container {
  height: 100%;
  padding: 0 20px;
  background-color: $base-background;
  text-align: center;
  color: $text-dark;

  .logo-container {
    padding: 150px 0;
    img {
      width: 100%;
      max-width: 400px;
    }
  }
}
