<div class="message-list-container" *ngIf="authService.user$ | async as user">
  <div
    *ngIf="chatsService.currentChat$ | async as currentChat"
    class="message-list"
  >
    <div
      class="message-container"
      *ngFor="let message of currentChat.messages"
      [ngClass]="{ sender: user.email == message.sender }"
    >
      <p class="message" *ngIf="user.email == message.sender">
        {{ message.content.body }}
      </p>

      <p class="message" *ngIf="user.email != message.sender">
        {{ SignalService.decryptMessage(message.content) }}
      </p>
    </div>
  </div>
</div>
