@import "../../variables";

#wrapper {
  width: 100%;
  height: 100%;
  background-color: $user-homepage-background;
  color: $text-light;
  .app-container {
    max-width: $max-width;
    max-height: $max-width;
    margin: auto;
    .components-container {
      display: flex;
      width: 100%;
      max-width: 1400px;
      max-height: 1400px;

      app-contact-list {
        max-width: 520px;
        height: 800px;
        width: 100%;
        background-color: $gray-primary;
        border-right: 1px solid $primary-border-color;
      }
      app-chat {
        max-width: 880px;
        height: 800px;
        width: 100%;
        background-color: $gray-dark;
      }
    }
  }
}
