@import "../../../variables";
.header-container {
  display: flex;
  flex-direction: row;
  height: 80px;
  background-color: $gray-primary;
  .header-column {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border: 1px solid $primary-border-color;
  }
  .header-left {
    max-width: 520px;
    border-right: none;

    .user-info {
      display: flex;
      flex-direction: row;
      align-items: center;
      mat-icon {
        margin-right: 15px;
      }
      p {
        margin-top: 20px;
      }
    }
  }
  .header-right {
    max-width: 880px;
    .contact-info {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      padding-right: 80px;
      p {
        margin: 3px 0 0 15px;
      }
    }
  }
}
