$base-background:#0D1418;
$placeholder-color:#808588;
$gray-primary: #2A2F32;
$gray-medium: #1E2428;
$gray-dark: #0D1418;
$grey-light: #D8D9DA;
$text-light:#D8D9DA;
$text-dark:#0D1418;
$blue: #085373;

$base-font-size: 18px;
$font-size-h1: 28px;
$font-size-h2: 23px;
$font-size-h3: 20px;

$max-width: 1400px;
$max-height: 1000px;
$input-height: 50px;
$input-width-sm: 340px;
$input-width-md: 395px;
$input-width-lg: 560px;


