/* You can add global styles to this file, and also import other style files */

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  font-family: sans-serif;
  input,
  button:focus {
    outline: none;
  }
  button:hover {
    cursor: pointer;
  }
  /*   custom size for material icons
 */
  .material-icons-outlined.md-30 {
    height: 30px;
    width: 30px;
    font-size: 30px;
  }

  .material-icons-outlined.md-40 {
    height: 40px;
    width: 40px;
    font-size: 40px;
  }
}
